@import "./colors.scss";
@import "./custom-styles.scss";

* {
  box-sizing: border-box;
}

html {
  @extend .defaults;
  font-size: 10px;
}

body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

body,
#root,
.app {
  @extend .defaults;
}

.app {
  display: flex;
  flex-direction: column;
  & > div.content {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $iron;
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $slate;
}
