.ui-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  .item {
    box-shadow: 3px 3px 3px rgb(230, 229, 229);
    height: 220px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #fafafa;
    &:nth-child(3n) {
      background: #f8f8f8;
    }
    &:nth-child(2n) {
      background: #fbfbfb;
    }
    .name {
      position: absolute;
      bottom: 0;
      right: 4px;
      color: lightsalmon;
    }
  }
}
