section {
  padding: 5px;
  width: 80%;
  margin: 0 auto;
  hr {
    margin: 20px;
  }
}

.ui-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-content: center;
  gap: 2px;
  .item {
    height: auto;
    min-height: 180px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: white;
    transition: 0.3s;
    .name {
      position: absolute;
      font-size: 1rem;
      bottom: 2px;
      right: 4px;
      color: lightgray;
    }
    .card {
      height: 80%;
    }
  }
}

.iconList {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  span.icon-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    justify-content: center;
    background: white;
    margin: 4px;
    position: relative;
    .name {
      position: absolute;
      bottom: 4px;
      width: 100%;
      text-align: center;
    }
  }
}
