section {
  padding: 20px;
  hr {
    margin: 20px;
  }
}
.ui-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  justify-content: center;
  gap: 16px;
  .item {
    box-shadow: 3px 3px 3px rgb(230, 229, 229);
    height: 180px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: white;
    border: 1px solid whitesmoke;
    .name {
      position: absolute;
      font-size: 1.4rem;
      bottom: 0;
      right: 4px;
      color: lightsalmon;
    }
  }
}
