section#playground {
  background: white;
  max-width: 500px;
  margin: 0 auto;
  padding: 12px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
