@import "../../../magicdust/colors.scss";

.confirm-box-container {
  background: $strokeOne;
  padding: 2px 12px;
  position: absolute;
  border: 1px solid $strokeOne;
  top: 50%;
  right: calc(100% + 4px);
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  border-radius: 2px;
  width: max-content;
  font-size: 1rem;
  .confirm-box-title {
    margin-right: 4px;
  }
  .confirm-box-actions {
    display: grid;
    column-gap: 4px;
    grid-auto-flow: column;
    align-items: center;
    .button {
      background: $bg;
    }
  }
}
