@import "./magicdust/defaults.scss";

@font-face {
  font-family: Neucha-Regular;
  src: url("./assets/fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: SairaExtraCondensed-Bold;
  src: url("./assets/fonts/SairaExtraCondensed-Bold.ttf");
}

@font-face {
  font-family: Inter-Regular;
  src: url("./assets/fonts/Inter-Regular.woff");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

html,
html body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  // font-family: Roboto-Regular;
}
