@import "../../../magicdust/colors.scss";

.timeline {
  position: relative;
  width: 80%;
  margin: 0 5% 12px 15%;
  .timeline-block {
    display: flex;
    border-left: 2px solid $bar;
    padding: 0 0 8px 12px;
    position: relative;
    &:last-child {
      border-left-color: transparent;
    }
    .timeline-block-stops {
      height: 12px;
      width: 12px;
      top: 0%;
      left: -1px;
      border: 2px solid white;
      transform: translateX(-50%);
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      background: $bar;
      z-index: 2;
    }

    .timeline-card {
      width: 100%;
      max-width: 100%;
      padding: 12px 8px;
      background: $bg;
      position: relative;
    }
  }
}
